extends layout-print

block content 
  div
    table.invoice_bank_rekv(width="100%" cellpadding="2" cellspacing="2")
        tr
            td(colspan="2" rowspan="2" style="min-height:13mm; width: 105mm;")
                table(width="100%" border="0" cellpadding="0" cellspacing="0" style="height: 13mm;")
                    tr
                        td(valign="top")
                            div=requisites.bank_name
                    tr
                        td(valign="bottom" style="height: 3mm;")
                            div(style="font-size:10pt;") Банк получателя                                                     
            td(style="min-height:7mm;height:auto; width: 25mm;")
                div БИK        
            td(rowspan="2" style="vertical-align: top; width: 60mm;")
                div(style=" height: 7mm; line-height: 7mm; vertical-align: middle;")=requisites.bik
                div=requisites.cor_account
        tr
            td(style="width: 25mm;")
                div Сч. №        
        tr
            td(style="min-height:6mm; height:auto; width: 50mm;")
                div="ИНН "+requisites.INN
            td(style="min-height:6mm; height:auto; width: 55mm;")
                div
            td(rowspan="2" style="min-height:19mm; height:auto; vertical-align: top; width: 25mm;")
                div Сч. №        
            td(rowspan="2" style="min-height:19mm; height:auto; vertical-align: top; width: 60mm;")
                div=requisites.account
        tr
            td(colspan="2" style="min-height:13mm; height:auto;")
                table(border="0" cellpadding="0" cellspacing="0" style="height: 13mm; width: 105mm;")
                    tr
                        td(valign="top")
                            div=requisites.recipient
                    tr
                        td(valign="bottom" style="height: 3mm;")
                            div(style="font-size: 10pt;") Получатель
    br
    div(style="font-weight: bold; font-size: 16pt; padding-left:5px;")=invoice.getTitle()
    div(style="background-color:#000000; width:100%; font-size:1px; height:2px;") &nbsp;
    br
 
    table(width="100%")
        tr
            td(style="width: 30mm;")
                div(style=" padding-left:2px;") Исполнитель:        
            td(valign="top")
                div(style="font-weight:bold;  padding-left:2px;")=requisites.executor()
        tr
            td(colspan=2) &nbsp;                
        tr
            td(style="width: 30mm;")
                div(style=" padding-left:2px;") Заказчик:        
            td(valign="top")
                div(style="font-weight:bold;  padding-left:2px;" rowspan=2)=invoice.getCustomerLine()
        tr
            td(colspan=2) &nbsp;             
        tr
            td(style="width: 30mm;")
                div(style=" padding-left:2px;") Основание:        
            td(valign="top")
                div(style="font-weight:bold;  padding-left:2px;" rowspan=2)=invoice.customer.reason
    br
    table(class="invoice_items" width="100%" cellpadding="2" cellspacing="2")
        thead
            tr
                th(style="width:13mm;") №                
                th Услуги
                th(style="width:20mm;") Кол-во
                th(style="width:17mm;") Ед.
                th(style="width:27mm;") Цена
                th(style="width:27mm;") Сумма        
        tbody
            each raw,index in invoice.services
                tr
                    td(align="center")=index+1                    
                    td(align="left")=raw.title
                    td(align="right")=raw.quantity
                    td(align="left")=raw.unit?raw.unit:"час"
                    td(align="right")=new Intl.NumberFormat('ru-RU').format(raw.price).replace(',','.')
                    td(align="right")=new Intl.NumberFormat('ru-RU').format(raw.price*raw.quantity).replace(',','.')
    br
    table(border="0" width="100%" cellpadding="1" cellspacing="1")
        tr
            td
            td(style="width:37mm; font-weight:bold;  text-align:right;") Итого:
            td(style="width:27mm; font-weight:bold;  text-align:right;")=new Intl.NumberFormat('ru-RU').format(invoice.getTotal()).replace(',','.')
        tr
            td
            td(style="width:37mm; font-weight:bold;  text-align:right;") Без налога(НДС) 
            td(style="width:27mm; font-weight:bold;  text-align:right;")
        tr
            td
            td(style="width:37mm; font-weight:bold;  text-align:right;") Всего к оплате
            td(style="width:27mm; font-weight:bold;  text-align:right;")=new Intl.NumberFormat('ru-RU').format(invoice.getTotal()).replace(',','.')
    br
    div="Всего наименований "+invoice.services.length+" на сумму " + (new Intl.NumberFormat('ru-RU').format(invoice.getTotal())).replace(',','. ') + " рублей."
    div=invoice.getTotalString()
    div(style="background-color:#000000; width:100%; font-size:1px; height:2px;") &nbsp;
    br
    br
    div(style="position:relative;")="Руководитель ______________________ ("+requisites.director+")"
        if signature != 0
            img(src="/images/signature.png", style="display:block; width:128px; height:auto;position:absolute; top:-30px; left:110px")
    br

    //div(style="position:relative;")="Главный бухгалтер ______________________ ("+(requisites.accountant ? requisites.accountant:requisites.director) +")"
        img(src="/images/signature.png", style="display:block; width:128px; height:auto;position:absolute; top:-30px; left:140px")

    <br/>            